/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

:root {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-width: 375px;
    width: 100%;
    min-height: 100vh;
    background-color: #04080D;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #E9E6E6;
    padding: 2% 0;
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #041e46d1;
    padding: 1% 4%;
    font-size: 1rem;
    border-radius: 10px;
}

.logo {
    width: 120px;
}

nav {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #E9E6E6;
}

a {
    color: #E9E6E6;
    text-decoration: none;
}

nav button {
    background: linear-gradient(45deg, #9747ff, #097b78);
    padding: 2% 4%;
    border-radius: 10px;
    color: #E9E6E6;
    font-size: 1rem;
}

main {
    width: 100%;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-left {
    padding: 10% 0 5% 10%;
    width: 50%;
}

.hero-left h2 {
    font-size: 4rem;
}

h1 {
    font-size: 8rem;
}

.hero-left p {
    letter-spacing: 0em;
    width: 100%;
    margin: 0 0 4%;
    font-size: 1.8rem;}

.hero-cta {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.hero-cta button {
    padding: 2% 4%;
    border-radius: 10px;
    font-size: 1.25rem;
}

.contact-btn {
    color: #E9E6E6;
    background-color: #9747FF;
}
.work-btn {
    border: 2px solid #9747FF;
    background-color: transparent;
    color: #9747FF;
}


.hero-right {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.gradient {
    width: 500px;
    height: 500px;
    background: linear-gradient(90deg, #9747ff, #097b78);
    filter: blur(160px);
}

.hero-img {
    position: absolute;
    top: 20%;
    right: 0;
    width: 35%;
}
